<div class="hero-unit">
  <h1>Twitter Bootstrap</h1>
  <p>Using Twitter Bootstrap</p>
  <p>
    <a href="http://twitter.github.com/bootstrap" class="btn btn-primary btn-large">Learn More</a>
  </p>
</div>